apache
apr
apr-util
autoconf
bionic
corosync
crash
crda
dpdk
glib
glibc
kexec
kexec-takahiro
libfuse
libhugetlbfs
libvirt
lvm2
multipath
open-iscsi
open-isns
ovs
pacemaker
perf-utils
qemu
sg3-utils
systemd
tgt
util-linux
wireless-regdb
!.gitignore
