[submodule "sources/trees/libfuse"]
	path = sources/trees/libfuse
	url = git@github.com:libfuse/libfuse.git
[submodule "sources/trees/dpdk"]
	path = sources/trees/dpdk
	url = git://dpdk.org/dpdk
[submodule "sources/trees/kexec"]
	path = sources/trees/kexec
	url = git://git.kernel.org/pub/scm/utils/kernel/kexec/kexec-tools.git
[submodule "sources/trees/corosync"]
	path = sources/trees/corosync
	url = https://github.com/corosync/corosync
[submodule "sources/trees/crash"]
	path = sources/trees/crash
	url = git@github.com:crash-utility/crash.git
[submodule "sources/trees/systemd"]
	path = sources/trees/systemd
	url = git@github.com:systemd/systemd.git
[submodule "sources/trees/perf-utils"]
	path = sources/trees/perf-utils
	url = https://github.com/bboymimi/perf-utils.git
[submodule "sources/trees/crda"]
	path = sources/trees/crda
	url = git://git.kernel.org/pub/scm/linux/kernel/git/mcgrof/crda.git
[submodule "sources/trees/wireless-regdb"]
	path = sources/trees/wireless-regdb
	url = git://git.kernel.org/pub/scm/linux/kernel/git/sforshee/wireless-regdb.git
[submodule "sources/trees/qemu"]
	path = sources/trees/qemu
	url = https://github.com/qemu/qemu.git
[submodule "sources/trees/autoconf"]
	path = sources/trees/autoconf
	url = https://git.savannah.gnu.org/git/autoconf.git
[submodule "sources/trees/apr-util"]
	path = sources/trees/apr-util
	url = https://github.com/apache/apr-util.git
[submodule "sources/trees/lvm2"]
	path = sources/trees/lvm2
	url = git://sourceware.org/git/lvm2.git
[submodule "sources/trees/tgt"]
	path = sources/trees/tgt
	url = git@github.com:fujita/tgt.git
[submodule "sources/trees/multipath"]
	path = sources/trees/multipath
	url = http://git.opensvc.com/multipath-tools/.git
[submodule "sources/trees/pacemaker"]
	path = sources/trees/pacemaker
	url = https://github.com/ClusterLabs/pacemaker
[submodule "sources/trees/apache"]
	path = sources/trees/apache
	url = git@github.com:apache/httpd.git
[submodule "sources/trees/libvirt"]
	path = sources/trees/libvirt
	url = git://libvirt.org/libvirt.git
[submodule "sources/trees/open-iscsi"]
	path = sources/trees/open-iscsi
	url = git@github.com:open-iscsi/open-iscsi.git
[submodule "sources/trees/glib"]
	path = sources/trees/glib
	url = git@github.com:GNOME/glib.git
[submodule "sources/trees/sg3-utils"]
	path = sources/trees/sg3-utils
	url = https://github.com/hreinecke/sg3_utils
[submodule "sources/trees/glibc"]
	path = sources/trees/glibc
	url = git://sourceware.org/git/glibc.git
[submodule "sources/trees/util-linux"]
	path = sources/trees/util-linux
	url = git://git.kernel.org/pub/scm/utils/util-linux/util-linux.git
[submodule "sources/trees/ovs"]
	path = sources/trees/ovs
	url = https://github.com/openvswitch/ovs.git
[submodule "sources/trees/apr"]
	path = sources/trees/apr
	url = https://github.com/apache/apr.git
[submodule "sources/trees/open-isns"]
	path = sources/trees/open-isns
	url = git@github.com:open-iscsi/open-isns.git
[submodule "sources/trees/bionic"]
	path = sources/trees/bionic
	url = https://android.googlesource.com/platform/bionic/
[submodule "sources/mine/lkft-website"]
	path = sources/mine/lkft-website
	url = git@github.com:rafaeldtinoco/lkft-website.git
[submodule "sources/mine/ltp"]
	path = sources/mine/ltp
	url = git@github.com:rafaeldtinoco/ltp.git
[submodule "sources/mine/meta-96boards"]
	path = sources/mine/meta-96boards
	url = git@github.com:rafaeldtinoco/meta-96boards.git
[submodule "sources/mine/scripts"]
	path = sources/mine/scripts
	url = git@github.com:rafaeldtinoco/scripts.git
[submodule "sources/mine/random"]
	path = sources/mine/random
	url = git@github.com:rafaeldtinoco/random.git
[submodule "sources/tests/ltp"]
	path = sources/tests/ltp
	url = git@github.com:linux-test-project/ltp.git
[submodule "sources/tests/ltp-android"]
	path = sources/tests/ltp-android
	url = https://android.googlesource.com/platform/external/ltp
[submodule "sources/tests/lkft-tools"]
	path = sources/tests/lkft-tools
	url = https://github.com/Linaro/lkft-tools.git
[submodule "sources/tests/lkft-website"]
	path = sources/tests/lkft-website
	url = git@github.com:rafaeldtinoco/lkft-website.git
[submodule "sources/tools/spectre-meltdown-checker"]
	path = sources/tools/spectre-meltdown-checker
	url = https://github.com/speed47/spectre-meltdown-checker.git
[submodule "sources/boards/beaglebone/x15/u-boot"]
	path = sources/boards/beaglebone/x15/u-boot
	url = git://git.ti.com/ti-u-boot/ti-u-boot.git
[submodule "sources/linux/mainline/next"]
	path = sources/linux/mainline/next
	url = http://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git
[submodule "sources/linux/mainline/master"]
	path = sources/linux/mainline/master
	url = http://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "sources/linux/stable/stable-linux-4.4.y"]
	path = sources/linux/stable/stable-linux-4.4.y
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
	branch = linux-4.4.y
[submodule "sources/linux/mainline/stable"]
	path = sources/linux/mainline/stable
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
[submodule "sources/linux/mainline/stable-rc"]
	path = sources/linux/mainline/stable-rc
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable-rc.git
[submodule "sources/linux/stable/stable-linux-4.9.y"]
	path = sources/linux/stable/stable-linux-4.9.y
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
	branch = linux-4.9.y
[submodule "sources/linux/stable/stable-linux-4.14.y"]
	path = sources/linux/stable/stable-linux-4.14.y
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
	branch = linux-4.14.y
[submodule "sources/linux/stable-rc/stable-rc-linux-4.4.y"]
	path = sources/linux/stable-rc/stable-rc-linux-4.4.y
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable-rc.git
	branch = linux-4.4.y
[submodule "sources/linux/stable/stable-linux-4.16.y"]
	path = sources/linux/stable/stable-linux-4.16.y
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
	branch = linux-4.16.y
[submodule "sources/linux/stable-rc/stable-rc-linux-4.9.y"]
	path = sources/linux/stable-rc/stable-rc-linux-4.9.y
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable-rc.git
	branch = linux-4.9.y
[submodule "sources/linux/stable/stable-linux-4.17.y"]
	path = sources/linux/stable/stable-linux-4.17.y
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
	branch = linux-4.17.y
[submodule "sources/linux/stable-rc/stable-rc-linux-4.14.y"]
	path = sources/linux/stable-rc/stable-rc-linux-4.14.y
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable-rc.git
	branch = linux-4.14.y
[submodule "sources/linux/stable-rc/stable-rc-linux-4.16.y"]
	path = sources/linux/stable-rc/stable-rc-linux-4.16.y
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable-rc.git
	branch = linux-4.16.y
[submodule "sources/linux/stable-rc/stable-rc-linux-4.17.y"]
	path = sources/linux/stable-rc/stable-rc-linux-4.17.y
	url = http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable-rc.git
	branch = linux-4.17.y
[submodule "sources/trees/kexec-takahiro"]
	path = sources/trees/kexec-takahiro
	url = https://git.linaro.org/people/takahiro.akashi/kexec-tools.git
[submodule "sources/trees/libhugetlbfs"]
	path = sources/trees/libhugetlbfs
	url = git@github.com:libhugetlbfs/libhugetlbfs.git
