Source: hugetlbfs
Section: libs
Priority: optional
Maintainer: Rafael David Tinoco <rafael.tinoco@linaro.org>
Build-Depends: debhelper (>= 10), python-minimal, libpython2.7-stdlib
Standards-Version: 4.1.1
Homepage: https://github.com/libhugetlbfs/libhugetlbfs

Package: hugetlbfs
Section: libdevel
Architecture: amd64 arm64 armhf i386
Multi-Arch: same
Depends: libc6, libc6-i386
Description: hugetlbfs
