#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export V=1
export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)
VERSION_UPSTREAM = $(shell echo '$(DEB_VERSION_UPSTREAM)')

%:
	dh $@ --parallel

override_dh_auto_clean:
	make -j1 clean

override_dh_auto_make:
	$(MAKE) libs tools tests

override_dh_auto_install:
ifeq ($(DEB_HOST_ARCH_BITS),64)
	$(MAKE) PREFIX=/usr DESTDIR=$(CURDIR)/debian/hugetlbfs LIB32=lib32 LIB64=lib install
else
	$(MAKE) PREFIX=/usr DESTDIR=$(CURDIR)/debian/hugetlbfs LIB32=lib install
endif
	mkdir -p $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/tests
	mkdir -p $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/obj
	mkdir -p $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/tests/obj32
	mkdir -p $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/tests/obj64
	# tests
	find tests -type f -maxdepth 1 -regex .*sh -exec cp {} $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/tests \;
	find tests -type f -maxdepth 1 -regex .*py -exec cp {} $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/tests \;
	find tests/obj32 -type f -perm -u=x -exec cp {} $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/tests/obj32 \;
ifeq ($(DEB_HOST_ARCH_BITS),64)
	find tests/obj64 -type f -perm -u=x -exec cp {} $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/tests/obj64 \;
endif
	#
	ln -s /usr/bin/hugeadm $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/obj/hugeadm
	ln -s /usr/bin/hugectl $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/obj/hugectl
	ln -s /usr/bin/hugeedit $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/obj/hugeedit
	ln -s /usr/bin/pagesize $(CURDIR)/debian/hugetlbfs/opt/libhugetlbfs/obj/pagesize
	#
	dh_install

override_dh_shlibdeps:
	true
